
// Floated images margins
$wp-small-margin: 5px;
$wp-big-margin: 20px;

// colors
$arrow-town: #97866f;
$mikado: #2a1f0f;
$razzmatazz: #e61052;
$radical-red: #fb2e6d;
$pearl-bush: #eae2d7;
$akaroa: #d9cbb6;

// fonts
$font-1: Arial, Helvetica, sans-serif;
